/Win32/*
/Win64/*
/OSX32/*
*.dcu
*.drc
*.dres
*.entitlements
*.identcache
*.info.plist
*.local
*.tvsconfig
*.vlb
*.dsk
*.~dsk
*.stat
Demos/WebBrowser/Win32
Demos/WebBrowser/OSX32
Demos/WebBrowser/Win64
Thumbs.db
