Star RCDATA "..\\..\\Images\\bookmark.png"
CloseHover RCDATA "..\\..\\Images\\CloseHover.png"
CloseNormal RCDATA "..\\..\\Images\\CloseNormal.png"
ClosePressed RCDATA "..\\..\\Images\\ClosePressed.png"
AddImage RCDATA "..\\..\\Images\\Add.png"
